<!-- LOGIN FORM -->
<div id="login" class="col-sm-2 pull-right">
	<form id="login-form" method="POST">
		<!-- LOGIN BOX -->
		<div class="form-group">
			<div class="col-sm-12"><label for="uname">Login</label></div>
			<div class="col-sm-12">
				<input type="text" name="uname" placeholder="Username" onclick="return false;"
				class="form-control input-sm space"/>
			</div>
		</div>
		<br>
		<!-- PASSWORD BOX-->
		<div class="col-sm-12">
			<input type="password" name="pword" placeholder="Password" class="form-control input-sm" id="password1"/>
		</div>

		<!-- 'REMEMBER ME' & 'SUBMIT' BUTTONS -->
		<div class="form-group">
			<div class="checkbox col-sm-12"><label><input type="checkbox" name="rem-box">Remember Me</label></div>
		</div>
		<div class="col-sm-12"><button type="submit" class="btn btn-primary space">Submit</button></div>
	</form>
</div>
