/* The whole page */
html {
  height:100%;
}

body {
  font-family:sans-serif;
  margin:0;
  padding:0;

  /*position:fixed;*/

  display:flex;
  flex-flow:column;

  width:100%;
  height:100%;
}

a {
  transition:.25s;
}

main {
  flex:1;
  display:flex;
  flex-flow:row;
}

/* Navigation */
nav {
  width:100%;
  display:flex;
  flex-flow:row;
  background-color:white;
}

/* Spacing between navbar elements */
nav * {
  margin-left:1mm;
  margin-right:1mm;
}

/* Link styling */
nav a {
  color:gray;
  text-decoration:none;
}

nav a:hover {
  color:black;
}

nav form {
  flex:1;
  display:flex;
  justify-content:flex-end;
  flex-flow:row;
}

nav form input {
  max-width:480px;
}

nav #searchtext {
  flex:1;
  margin:10px;
  border-radius:5px;
  border:1px solid grey;
}

#searchbutton{
	margin:10px 0px 10px 0px;
	background-color: white;
	border:1px solid grey;
	border-radius:5px;
	font-size:15px;
}

nav img { /* For the app icon */
  height:1.25cm;
}

#navabout{
	margin:20px 10px 20px 10px;
}

#navhelp{
	margin:20px 10px 20px 10px;
}

/* Filters */
#filters {
  display:flex;
  flex-flow:row;
  background-color:#202E3C;
  color:white;
}

#filters p {
  margin-left:2mm;
  margin-right:2mm;
}

.filter {
  flex:1;
  display:flex;
  flex-flow:column;
  margin:3mm;
}

.filterlabels {
  display:flex;
  justify-content:space-between;
  flex-flow:row;
}

/* The search results area */
#resultpanel {
  flex:1;

  display:flex;
  flex-flow:column;
  background-color:#F5F5F5;
}

#results {
  flex:1;
}

.result {
  display:flex;
  flex-flow:row;
  margin:0px 0px 5px 0px;
  border:1px solid grey;
}

.result .nametext {
  flex:3;
  font-size: 20px;
}

.result .resultbutton a {
  font-size:24pt;
  color:grey;
  text-decoration:none;
}

.result .resultbutton a:hover {
  color:blue;
}

/* The map panel area (the right-side panel) */
#mappanel {
	height:93vh;
	width:80vw;

}

#mappanel img {
  width:100%;
  height:100%;
}

#locationbutton{
	decoration:none;
	position:relative;
	margin:5px 0px 5px 0px;
	padding:5px;
	background-color:white;
	border:1px solid grey;

}
