body {
  margins:auto;
  width:80%;
}

header, section, article, nav, aside, footer, div {
	font-family: sans-serif;
	border:1px dotted #000;
	padding: 10px;
	margin: 10px;
}

.flex {
	display: -webkit-flex;
	display: flex;
}

.flex-space {
	-webkit-justify-content: space-around;
	justify-content: space-around;
	flex-wrap: nowrap;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.thumbnail {
	max-width:64px;
	max-height:64px;
}



.column{
	float:left;
}

.cLeft{
	width:75%;
}

.cRight{
	width:25%;
}

.row:after{
	content:"";
	display:table;
	clear:both;
}
