<!doctype>
<html>
<header>
	<title> Node is fun.. yay </title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</header>
<body>
	<form action="/getter">
		Username:<br>
		<input type="text" name="username" value=""/><br>
		<br>
		Or Search term:<br>
		<input type="text" name="term"/><br><br>
		<input type="submit" value="Submit"/>
	</form>

	<div>
</body>
</html>
